<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzz.org.mapper.EmployeeMapper">
    <!-- 菜单权限：根据登录信息id查询当前登录人拥有的菜单：List<Menu> loadMenusByLogininfoId(Long id); -->
    <select id="loadMenusByLogininfoId" resultMap="MenuMap2">
        select tm2.*,tm.id tid,tm.name tname,tm.component tcomponent,
               tm.url turl,tm.icon ticon
        from t_employee te
                 join t_employee_role ter on te.id = ter.employee_id
                 join t_role tr on ter.role_id = tr.id
                 join t_role_menu trm on tr.id = trm.role_id
                 join t_menu tm on trm.menu_id = tm.id
                 join t_menu tm2 on tm.parent_id = tm2.id
        where te.logininfo_id = #{id}
    </select>
    <resultMap id="MenuMap2" type="Menu">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="component" property="component" />
        <result column="url" property="url" />
        <result column="icon" property="icon" />
        <result column="index" property="index" />
        <result column="parent_id" property="parent_id" />
        <result column="intro" property="intro" />
        <result column="state" property="state" />
        <collection property="children" ofType="Menu">
            <result column="tid" property="id" />
            <result column="tname" property="name" />
            <result column="tcomponent" property="component" />
            <result column="turl" property="url" />
            <result column="ticon" property="icon" />
        </collection>
    </resultMap>


    <!-- 查询当前登录人的所有权限：t_permission中的sn：List<String> loadPerssionSnByLogininfoId(Long id); -->
    <select id="loadPerssionSnByLogininfoId" resultType="String">
        select tp.sn from t_employee te
            join t_employee_role ter on te.id = ter.employee_id
            join t_role tr on ter.role_id = tr.id
            join t_role_permission trp on tr.id = trp.role_id
            join t_permission tp on tp.id = trp.permission_id
        where te.logininfo_id = #{id}
    </select>

    <!-- 删除t_employee:删除中间表信息：void removeEmployeeRoleByEmployeeId(Long id); -->
    <delete id="removeEmployeeRoleByEmployeeId">
        delete from t_employee_role where employee_id=#{id}
    </delete>

    <!-- 添加t_employee：void saveEmployeeRole(Employee employee); -->
    <insert id="saveEmployeeRole">
        insert into t_employee_role (employee_id, role_id)
        values (#{id},#{role_id})
    </insert>

    <!--保存一个对象：void save(Employee employee);-->
    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into t_employee (username,phone,email,state,salt,password,age,department_id,logininfo_id,shop_id) values (
        #{username},#{phone},#{email},#{state},#{salt},#{password},#{age},#{department_id},#{logininfo_id},#{shop_id})
    </insert>

    <!--移除一个对象：void remove(Long id);-->
    <delete id="remove" parameterType="Long">
        DELETE FROM t_employee WHERE id=#{id}
    </delete>

    <!--更新一个对象：void update(Employee employee);-->
    <update id="update" parameterType="Employee">
        UPDATE t_employee SET username=#{username},phone=#{phone},email=#{email},state=#{state},salt=#{salt},password=#{password},
        age=#{age},department_id=#{department_id},logininfo_id=#{logininfo_id},shop_id=#{shop_id} WHERE id=#{id}
    </update>

    <!--加载一个对象：Employee loadById(Long id);-->
    <select id="loadById" parameterType="Long" resultType="Employee">
        SELECT * FROM t_employee WHERE id=#{id}
    </select>

    <!--加载所有对象：List<Employee> loadAll();-->
    <select id="loadAll" resultType="Employee">
        SELECT * FROM t_employee
    </select>

    <!--分页：查询总数量：Long queryCount(EmployeeQuery query);-->
    <select id="queryCount" resultType="Integer" >
        SELECT count(*) FROM t_employee
        <include refid="querySql"></include>
    </select>

    <!--List<Employee> queryData(EmployeeQuery employeeQuery);-->
    <select id="queryData" resultMap="EmployeeMap">
        select e.*,d.id did,d.name dname,tr.id tid from t_employee e
            left join t_department d on e.department_id = d.id
            left join t_employee_role ter on e.id = ter.employee_id
            left join t_role tr on ter.role_id = tr.id
        <include refid="querySql"></include>
        limit #{begin},#{pageSize}
    </select>
    <resultMap id="EmployeeMap" type="Employee">
        <id column="id" property="id"></id>
        <result column="username" property="username"></result>
        <result column="phone" property="phone"></result>
        <result column="email" property="email"></result>
        <result column="salt" property="salt"></result>
        <result column="password" property="password"></result>
        <result column="age" property="age"></result>
        <result column="state" property="state"></result>
        <result column="department_id" property="department_id"></result>
        <result column="logininfo_id" property="logininfo_id"></result>
        <result column="shop_id" property="shop_id"></result>
        <result column="tid" property="role_id"></result>
        <association property="UserDept" javaType="Department">
            <id column="did" property="id"></id>
            <result column="dname" property="name"></result>
        </association>
    </resultMap>

    <!--高级查询与分页绑定，对keyword对totals和data，都产生影响后，展示数据-->
    <sql id="querySql">
        <where>
            <if test="keyword != null and keyword != ''">
                and username like concat("%",#{keyword},"%")
            </if>
        </where>
    </sql>

    <!--批量删除-->
    <delete id="patchDelete">
        delete from t_employee where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--分页：查询当前页数据：List<Employee> queryData(EmployeeQuery query);-->
    <!--<select id="queryData" resultMap="EmployeeMap" >
        SELECT d.*,e.id eid,e.username eusername,p.id pid,p.name pname FROM t_employee d
        join t_employee e on d.manager_id = e.id
        join t_employee p on d.parent_id = p.id
        limit #{begin},#{pageSize}
    </select>
    &lt;!&ndash;对e.id eid,e.username,p.id pid,p.name pname，也就是其他表的关联属性要手动映射&ndash;&gt;
    <resultMap id="EmployeeMap" type="Employee">
        &lt;!&ndash; 普通属性 &ndash;&gt;
        <id property="id" column="id"></id>
        <result property="sn" column="sn"></result>
        <result property="name" column="name"></result>
        <result property="dirPath" column="dirPath"></result>
        <result property="state" column="state"></result>
        &lt;!&ndash; 关联属性 &ndash;&gt;
        &lt;!&ndash; private Employee manager; &ndash;&gt;
        <association property="manager" javaType="Employee">
            <id property="id" column="eid"></id>
            <result property="username" column="eusername"></result>
        </association>
        &lt;!&ndash;private Employee parent;&ndash;&gt;
        <association property="parent" javaType="Employee">
            <id property="id" column="pid"></id>
            <result property="name" column="pname"></result>
        </association>
    </resultMap>-->




</mapper>