<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzz.pet.mapper.PetLogMapper">

    <!--保存一个对象：void save(User user);-->
    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into t_pet_online_audit_log(pet_id,state,audit_id,audit_time,note) values
            (#{pet_id},#{state},#{audit_id},#{audit_time},#{note})
    </insert>

    <!--移除一个对象：void remove(Long id);-->
    <delete id="remove" parameterType="Long">
        DELETE FROM t_pet_online_audit_log WHERE id=#{id}
    </delete>

    <!--更新一个对象：void update(User user);-->
    <update id="update" parameterType="PetLog">
        UPDATE t_pet_online_audit_log SET pet_id=#{pet_id}, state=#{state}, audit_id=#{audit_id}, audit_time=#{audit_time}, note=#{note}
        WHERE id=#{id}
    </update>

    <!--加载一个对象：User loadById(Long id);-->
    <select id="loadById" resultType="PetLog">
        SELECT * FROM t_pet_online_audit_log WHERE id=#{id}
    </select>

    <!--加载所有对象：List<User> loadAll();-->
    <select id="loadAll" resultType="PetLog">
        SELECT * FROM t_pet_online_audit_log
    </select>


</mapper>