<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzz.pet.mapper.SearchMasterMsgMapper">

    <!--保存一个对象：void save(User user);-->
    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into t_search_master_msg(
            title,state,name,age,gender,coat_color,resources,pet_type,price,address,user_id,shop_id,note
        ) values
        (
         #{title},#{state},#{name},#{age},#{gender},#{coatColor},#{resources},#{petType},#{price},#{address},#{user_id},#{shop_id},#{note}
         )
    </insert>

    <!--移除一个对象：void remove(Long id);-->
    <delete id="remove">
        DELETE FROM t_search_master_msg WHERE id=#{id}
    </delete>

    <!--更新一个对象：void update(User user);-->
    <update id="update">
        UPDATE t_search_master_msg SET
            title=#{title},
            state=#{state},
            name=#{name},
            age=#{age},
            gender=#{gender},
            coat_color=#{coatColor},
            resources=#{resources},
            pet_type=#{petType},
            price=#{price},
            address=#{address},
            user_id=#{user_id},
            shop_id=#{shop_id},
            note=#{note}
        WHERE id=#{id}
    </update>

    <!--加载一个对象：User loadById(Long id);-->
    <select id="loadById" resultMap="ResultMap1">
        SELECT * FROM t_search_master_msg WHERE id=#{id}
    </select>

    <!--加载所有对象：List<User> loadAll();-->
    <select id="loadAll" resultType="SearchMasterMsg">
        SELECT * FROM t_search_master_msg
    </select>

    <!--查询总数=参数（查询对象），返回值：long-->
    <select id="queryCount" parameterType="SearchMasterMsgQuery" resultType="int">
        select count(*) from t_search_master_msg sm
        <include refid="whereSql"/>
    </select>

    <!--查询当前页数据=参数（查询对象），返回值:List-->
    <select id="queryData" parameterType="SearchMasterMsgQuery" resultMap="ResultMap1">
        select sm.*,tpt.id tptid,tpt.name tptname, s.id sid,s.name sname,tu.id tuid,tu.username
        from t_search_master_msg sm
        left join t_pet_type tpt on sm.pet_type = tpt.id
        left join t_shop s on sm.shop_id = s.id
        left join t_user tu on sm.user_id = tu.id
        <include refid="whereSql"/>
        limit #{begin},#{pageSize}
    </select>
    <resultMap id="ResultMap1" type="SearchMasterMsg">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="state" property="state" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="gender" property="gender" />
        <result column="coat_color" property="coatColor" />
        <result column="resources" property="resources" />
        <result column="pet_type" property="petType" />
        <result column="price" property="price" />
        <result column="address" property="address" />
        <result column="user_id" property="user_id" />
        <result column="shop_id" property="shop_id" />
        <result column="note" property="note" />
        <association property="type" javaType="PetType">
            <id column="tptid" property="id" />
            <result column="tptname" property="name" />
        </association>
        <association property="shop" javaType="Shop">
            <id column="sid" property="id" />
            <result column="sname" property="name" />
        </association>
        <association property="user" javaType="User">
            <id column="tuid" property="id" />
            <result column="username" property="username" />
        </association>
    </resultMap>
    <sql id="whereSql">
        <where>
            <if test="keyword!=null and keyword!=''">
                and (sm.name like concat('%',#{keyword},'%'))
            </if>
            <if test="state!=null">
                <!-- state==1 and shop_id!=null表示店铺管理员查询审核通过并分配了店铺的待处理寻主消息 -->
                <if test="state==1 and shop_id!=null">
                    and sm.shop_id =#{shop_id}
                </if>
                <!-- state==1 and shop_id==null表示平台管理员查询审核通过并分配了店铺的待处理寻主消息 -->
                <if test="state==1 and shop_id==null">
                    and sm.shop_id is not null
                </if>
                <!-- 根据状态查询：审核驳回待审核0，审核通过待处理1，处理完成2 -->
                and sm.state = #{state}
            </if>
            <!-- user_id为null就是后台查询，不为null就是前台用户查询自己的寻主消息 -->
            <if test="user_id!=null">
                and sm.user_id = #{user_id}
            </if>
        </where>
    </sql>

    <update id="reject">
        update t_search_master_msg set shop_id = null where id = #{id}
    </update>

</mapper>